<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSFamilyControlsUsageDescription</key>
	<string>This app uses Family Controls to manage device usage.</string>
	<key>NSManagedSettingsDomainUsageDescription</key>
	<string>This app uses Screen Time to manage app restrictions.</string>
</dict>
</plist>
